<h2>Reportes / Informes</h2>
<div class="block">
    <form id="frmBuscarReporteSecre">
        <table>
            <tr>
                <td>Seleccione el reporte a generar:&nbsp;</td>
                <td>
                    <select id="cmbFiltroReporte">
                        <option value="1">Alumnos inscritos por cursos</option>
                        <option value="2">Ficha por alumno</option>
                        <option value="3">Cuadro de Calificaciones por curso</option>                        
                    </select>
                </td>
                <td id="tdTexto">&nbsp;Seleccione el curso:&nbsp;</td>
                <td id="tdAlumnoCursos">
                    <select id="cmbFiltroCurso">
                        <option value="1">PHP Avanzado</option>
                        <option value="2">HTML</option>
                        <option value="3">Microsoft Word 2010</option>                        
                    </select>
                </td>
                <td id="tdAlumno" style="display: none"> <input type="text" id="txtCarneAlumno"></td>
                <td>
                    <input type="button" id="btnMostrarReportSecre" value="Mostrar" title="Boton Funcional"/>
                </td>                    
            </tr>                
        </table>
    </form>    
</div>
<div id="divResultado">   
    <!--<embed src="" width="500" height="600">-->
</div>
<div id="divResultadoFicha" style="display: none;" class="divPagos"> 
     <table width="60%">
            <tr>
                <th colspan="7">ALUMNO: ANA MARIA MARTINEZ SEGURA CARNET: AM001</th>
            </tr>            
            <tr>
                <th width="2%">CORRELATIVO</th>               
                <th width="2%">CURSOS</th>
                <th width="2%">CALIFICACION FINAL</th>                
            </tr>
            <tr>
                <td>1</td>
                <td>MICROSOFT OFFICE WORD</td>
                <td>7.80</td>                
            </tr>
            <tr>
                <td>2</td>
                <td>HTML BASICO</td>
                <td>8.80</td>                
            </tr>
            <tr>
                <td>3</td>
                <td>MICROSOFT OFFICE EXCEL</td>
                <td>6.90</td>                
            </tr>
            <tr>
                <td>4</td>
                <td>PHP AVANZADO</td>
                <td>EN PROCESO</td>                
            </tr>
        </table>
</div>