<h2>Cursos</h2>
<div class="block ">
    <form>
        <table class="form">
            <tr>
                <td class="col1">
                    <label>Titulo</label>
                </td>
                <td class="col2">
                    <input type="text" class="mini" id="txtTitulo"/>
                </td>
            </tr>            
            <tr>
                <td>
                    <label>Fecha de Inicio:</label>
                </td>
                <td>
                    <input type="text" id="txtFechaInicio" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fecha de Finalizaci&oacute;n:</label>
                </td>
                <td>
                    <input type="text" id="txtFechaFin" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Attach File</label>
                </td>
                <td>
                    <input type="file" />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding-top: 9px;">
                    <label>
                        WYSIWYG Editor</label>
                </td>
                <td>
                    <textarea class="tinymce"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>