<h2>Usuarios Registrados</h2>
<div class="block">
   <form id="frmBuscarUsuario">
       <div class="seccion">
           <h1>Busqueda de usuarios:</h1>
           <table class="formBuscar">
            <tr>
                <td>
                    <label>Buscar por:</label>
                </td>
                <td>
                    <select id="cmbFilterUsu">
                        <option value="0" selected="selected">Carnet</option>
                        <option value="1">Nombre</option>
                       <option value="2">Apellido</option>                       
                    </select>
                </td>
                <td>
                    <input type="text" id="txtBuscarUsu" />
                </td>
                <td>
                    <input type="button" id="btnBuscarUsu" value="Buscar" title="Boton Funcional">
                </td>
            </tr>            
           </table>
       </div>       
    </form>  
    
    
    <div id="divResultado" class="formResultado" style="display: none;">
        <h3>Resultado</h3>
        <table>
            <tr>
                <th>Carnet</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Opcion</th>                
            </tr>
            <tr>
                <td>AM001</td>
                <td>ANA MARIA</td>
                <td>MARTINEZ SEGURA</td>
                <td><input type="button" id="btnSeleccionar0" value="Seleccionar" /></td>
            </tr>
            <tr>
                <td>MA001</td>
                <td>MARCOS ADALBERTO</td>
                <td>ALAS PERLA</td>
                <td><input type="button" id="btnSeleccionar1" value="Seleccionar" /></td>
            </tr>
            <tr>
                <td>TR001</td>
                <td>TOMAS NEFTALY</td>
                <td>ROSA CHAVEZ</td>
                <td><input type="button" id="btnSeleccionar2" value="Seleccionar" /></td>
            </tr>
        </table>
    </div>

</div>