<h2>Calificacion</h2>
<div class="block">
    <div id="divPagos" class="divPagos">
        <h3>Detalle de Calificaciones</h3>
        <table width="60%">
            <tr>
                <th colspan="7">ALUMNO: ANA MARIA MARTINEZ SEGURA CARNET: AM001</th>
            </tr>
            <tr>
                <th colspan="7">CURSO: HTML AVANZADO</th>
            </tr>            
            <tr>
                <th width="2%">CORRELATIVO</th>               
                <th width="2%">1° PERIODO</th>
                <th width="2%">2° PERIODO</th>
                <th width="2%">3° PERIODO</th>
                <th width="2%">4° PERIODO</th>
                <th width="2%">5° PERIODO</th>
                <th width="2%">6° PERIODO</th>                
            </tr>
            <tr>
                <td>1</td>
                <td>9.00</td>
                <td>7.80</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>               
            </tr>
        </table>
    </div>
</div>