<h2>Registrarse a un curso</h2>
<div class="block">
    <div>
    <h6>Listado de Cursos</h6>
    <ul style="cursor: pointer;">
        <li id="lstCurso" title="Boton Funcional">MICROSOFT POWERPOINT 2010</li>
        <li>MICROSOFT PUBLISHER 2010</li>
        <li>CSS3 AVANZADO</li>
        <li>ADOBE FLASH CS6</li>
    </ul>
    </div>
    <div id="divAgregarCurso" style="display: none;">
        <h6>GRUPOS DEL CURSO: MICROSOFT POWERPOINT 2010</h6>
        <table width="60%">
            <tr>
                <th width="2%">No. GRUPO</th>
                <th width="10%">DIAS</th>
                <th width="5%">HORA</th>
                <th width="7%">OPCION</th>
            </tr>
            <tr>
                <td>1</td>
                <td>LUNES Y MIERCOLES</td>
                <td>8:00 A.M. - 10:30 A.M.</td>
                <td><input type="button" value="Agregar"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>LUNES Y MIERCOLES</td>
                <td>1:00 P.M. - 2:30 A.M.</td>
                <td><input type="button" value="Agregar"></td>
            </tr>
            <tr>
                <td>1</td>
                <td>SABADO</td>
                <td>8:00 A.M. - 12:00 P.M.</td>
                <td><input type="button" value="Agregar"></td>
            </tr>
        </table>
    </div>
</div>