<h2>Calificacion</h2>
<div class="block">
    <div id="divPagos" class="divPagos">
        <h3>Detalle de Pago</h3>
        <table width="60%">
            <tr>
                <th colspan="6">ALUMNO: ANA MARIA MARTINEZ SEGURA CARNET: AM001</th>
            </tr>            
            <tr>
                <th width="2%">CORRELATIVO</th>               
                <th width="10%">PAGO A REALIZAR</th>
                <th width="2%">TOTAL A PAGAR</th>
                <th width="5%">-</th>
                <th  width="5%">FECHA DE PAGO REALIZADO</th>
                <th  width="5%">FECHA LIMITE DE PAGO</th>
            </tr>
            <tr>
                <td>1</td>
                <td>MATRICULO DEL CURSO: HTML AVANZADO</td>
                <td>$ 30.00</td>
                <td>REALIZADO</td>
                <td>01-01-2013</td>
                <td>03-01-2013</td>
            </tr>
            <tr>
                <td>2</td>
                <td>MENSUALIDAD DE ENERO</td>
                <td>$ 15.00</td>
                <td>REALIZADO</td>
                <td>21-01-2013</td>
                <td>31-01-2013</td>
            </tr>
            <tr>
                <td>3</td>
                <td>MENSUALIDAD DE FEBRERO</td>
                <td>$ 15.00</td>
                <td>PENDIENTE</td>
                <td>-</td>
                <td>28-02-2013</td>
            </tr>
            <tr>
                <td>4</td>
                <td>MENSUALIDAD DE MARZO</td>
                <td>$ 15.00</td>
                <td>PENDIENTE</td>
                <td>-</td>
                <td>31-03-2013</td>
            </tr>
            <tr>
                <td>5</td>
                <td>MENSUALIDAD DE ABRIL</td>
                <td>$ 15.00</td>
                <td>PENDIENTE</td>
                <td>-</td>
                <td>30-04-2013</td>
            </tr>
            <tr>
                <td>6</td>
                <td>MENSUALIDAD DE MAYO</td>
                <td>$ 15.00</td>
                <td>PENDIENTE</td>
                <td>-</td>
                <td>31-05-2013</td>
            </tr>
            <tr>
                <td>7</td>
                <td>MENSUALIDAD DE JUNIO</td>
                <td>$ 15.00</td>
                <td>PENDIENTE</td>
                <td>-</td>
                <td>31-06-2013</td>
            </tr>
        </table>
    </div>
</div>