<div id="divFormLogin">
    <div id="login-box">
        <h2>Identificaci&oacute;n</h2>
        Sistema de Control de Alumnos&nbsp;|&nbsp;Eben-Ezer
        <br />
        <br />
        <div id="login-box-name" style="margin-top:20px;">
            Usuario:
        </div>
        <div id="login-box-field" style="margin-top:20px;">
            <input id="txtUsuario" class="form-login" value="" size="30" maxlength="2048" />
        </div>
        <div id="login-box-name">Contrase&ntilde;a:</div>
        <div id="login-box-field">
            <input id="txtPassword" type="password" class="form-login" value="" size="30" maxlength="2048" />
        </div>
        <br />
        <span class="login-box-options">        
            <a href="#" id="btnRecuperarPassword" title="Boton Funcional" title="Boton Funcional">Recuperar contraseña</a>&nbsp;&nbsp;|&nbsp;
            <a href="#" id="btnNewRegister" title="Boton Funcional">Crear cuenta</a>
            
        </span>
        <br />
        <br />
        <div class="divButton">
            <a href="#" class="none-a" id="buttonEntrar" title="Boton Funcional">
                <div class="button">Entrar</div>
            </a>
        </div>
    </div>
</div>
<div class="divRecoperarPass" style="display: none;">
    <form id="frmRecuperarPass">
        <table>
            <tr>
                <td>Ingrese su numero de carnet:</td>
                <td><input type="text" id="txtCarnePass"></td>
                <td><input type="button" id="btnRecuperarPass" value="Ok"></td>
            </tr>
        </table>
    </form>
</div>
