<div id="divFormLogin">
    <div id="login-box">
        <h2>Identificaci&oacute;n</h2>
        Sistema de Control de Alumnos&nbsp;|&nbsp;Eben-Ezer
        <br />
        <br />
        <div id="login-box-name" style="margin-top:20px;">
            Usuario:
        </div>
        <div id="login-box-field" style="margin-top:20px;">
            <input id="txtUsuario" class="form-login" value="" size="30" maxlength="2048" />
        </div>
        <div id="login-box-name">Contrase&ntilde;a:</div>
        <div id="login-box-field">
            <input id="txtPassword" type="password" class="form-login" value="" size="30" maxlength="2048" />
        </div>
        <br />
        <span class="login-box-options">        
            <a href="#">Recuperar contraseña</a>&nbsp;&nbsp;|&nbsp;
            <a href="#">Crear cuenta</a>
            
        </span>
        <br />
        <br />
        <div class="divButton">
            <a href="#" class="none-a" id="buttonEntrar">
                <div class="button">Entrar</div>
            </a>
        </div>
    </div>
</div>